form .field {
  float: left;
  width: 100%;
  padding: 0 0 .5em;
}
form .label,
form .input {
  box-sizing: border-box;
}
form .label {
  width: 25%;
  padding: .1em .8em 0 0;
  text-align: right;
  float: left;
}
form .input {
  width: 75%;
  float: right;
}
form input,
form textarea {
  width: 100%;
}
form input[type=submit] {
  width: auto;
}
form .error {
  width: 75%;
  float: right;
  color: #C00;
  padding: .5em 0 0;
}
